@model IEnumerable<MVC.Models.Books>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Publisher)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Book">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Book">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Book">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
