@model MVC.Models.Authors

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Authors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Au_Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Au_Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Au_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Au_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Au_Patrinomic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Au_Patrinomic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Author">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
